div.tabBody-2dgbAs {
    background-color: transparent;
  }
  
  main.container-2cd8Mz { 
    background-color: transparent;
  }
  
  div.content-1SgpWY {
    background-image: none;
    background-color: rgba(255, 255, 255, 0)!important;
  }
  
  div.base-2jDfDU {
    background-color: transparent
  }
  
  div.scroller-hE2gWq {
    background-color: transparent;
  }
  .thin-31rlnD {
    background-color: transparent;
  }
  .scrollerBase-_bVAAt {
    background-color: transparent;
  }
  
  
  div.layout-1LjVue {
    background-color: transparent;
    
  }
  
  div.interactive-26HRN_.interactive-iyXY_x {
    border: 2px solid #24242c;
    background-color: transparent;
  }
  
  div.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt {
    margin-left:15px
  }
  
  nav.wrapper-1_HaEi.guilds-2JjMmN {
   background-color: transparent;
  }
  
  div.container-1eFtFS {
      background-image: url('https://i.ytimg.com/vi/Hg6L_7qLIEQ/maxresdefault.jpg');
    background-size: 100%;
  
  }
  
  div.notice-2HEN-u.colorDefault-1e8tQv {
    display:none
  }
  nav.privateChannels-oVe7HL {
    background-color: transparent;
  }
  
  div.sidebar-1tnWFu.hasNotice-1s68so {
    background-color: transparent
  }
  
  span.headerText-1qIDDT {
    color: #24242c
  }
  
  div.peopleListItem-u6dGxF {
    border: 2px solid #24242c;
    margin-bottom: 5px
  }
  
  div.overflow-1wOqNV {
    color: #24242c
  }
  
  div.subtext-14b69p {
    color: #24242c
  }
  
  div.activityText-ev7Z1T {
    color: #24242c
  }
  
  div.nameAndDecorators-2A8Bbk {
    color: #24242c
  }
  
  svg.linkButtonIcon-7rsZcu {
    color: #24242c
  }
  div.listItem-3SmSlK {
    display: block
  }
  
  div.guildSeparator-a4uisj {
    margin-left: 8px;
  }
  
  
  
  div.inner-2pOSmK {
    border: 2px solid #24242c;
        color: #24242c
  
  }
  
  input.input-2m5SfJ {
      background-color: transparent;
      color: #24242c
  }
  
  div.searchBar-2aylmZ.container-2oNtJn.medium-2NClDM {
        background-color: transparent;
  
  }
  
  h2.title-x4dI75.container-q97qHp {
        color: #24242c
  
  }
  
  div.text-MPIeXO {
        color: #24242c
  
  }
  
  span.username-3JLfHz.username-Qpc78p {
        color: #24242c
  
  }
  
  button.searchBarComponent-3N7dCG {
    background-color: transparent;
    border: 2px solid #24242c;
    color: #24242c;
  }
  
  section.theme-dark.container-ZMc96U.themed-Hp1KC_ {
    background-color: transparent
  }
  
  h1.defaultColor-1EVLSt.heading-md-semibold-2h_vsp.defaultColor-1GKx81.title-17SveM {
    color: #24242c
  }
  
  div.item-3mHhwr.item-3XjbnG.selected-g-kMVV.themed-2-lozF {
    color: #24242c
  }
  
  div.item-3mHhwr.item-3XjbnG.themed-2-lozF {
    color: #24242c
  }
  
  div.children-3xh0VB {
    box-shadow: none;
    
  }
  
  div svg path {
    color: #24242c
  }
  
  
  
  aside.container-1oAagU {
    background-color: transparent;
  }
  
  div.nowPlayingColumn-1eCBCN {
    background-color: transparent;
  }
  
  div.actionButton-3-B2x- {
    background-color:transparent
  }
  
  div.itemCard-3Etziu.wrapper-2RrXDg.outer-2JOHae.padded-2NSY6O.interactive-2zD88a {
    background-color: transparent;
    border: 1px solid #24242c;
    color: #24242c
  }
  
  div.defaultColor-1EVLSt.text-md-semibold-2VMhBr.textContent-TsKzji {
    color: #24242c
  }
  
  div div span {
    color: #24242c
  }
  
  h2.defaultColor-1EVLSt.heading-lg-semibold-14ouVv.defaultColor-1GKx81.header-Imy05m {
    color: #24242c
  }
  
  div.container-YkUktl {
    background-color:transparent
  }
  
  section.panels-3wFtMD {
    background-color: transparent
  }
  
  div.text-sm-normal-AEQz4v.title-338goq {
    color: #24242c
  }
  
  div.hoverRoll-2XwpoF.forceHover-2i2MQp {
    color: #24242c
  }